.maingrid {
    -fx-background-image:url('images/background.jpg');
    -fx-background-size: cover;
}

.transparent {
	-fx-background-color:transparent;
}

@font-face {
    font-family: Master;
    src: url('fonts/master_of_break.otf');
}
