<?xml version="1.0" encoding="utf-8"?>

<config>

    <developmentCard id="1" points="1" level="1" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="2" points="1" level="1" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="3" points="1" level="1" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="4" points="1" level="1" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="5" points="2" level="1" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">1</resQty>
            <resQty type="STONE">1</resQty>
            <resQty type="SERVANT">1</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="6" points="2" level="1" color="PURPLE">
        <resourceRequirements>
            <resQty type="SHIELD">1</resQty>
            <resQty type="COIN">1</resQty>
            <resQty type="SERVANT">1</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="7" points="2" level="1" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">1</resQty>
            <resQty type="STONE">1</resQty>
            <resQty type="SERVANT">1</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="STONE">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="8" points="2" level="1" color="YELLOW">
        <resourceRequirements>
            <resQty type="SHIELD">1</resQty>
            <resQty type="COIN">1</resQty>
            <resQty type="STONE">1</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="9" points="3" level="1" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">2</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
                <resQty type="SHIELD">1</resQty>
                <resQty type="STONE">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="10" points="3" level="1" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">2</resQty>
            </input>
            <output>
                <resQty type="SERVANT">1</resQty>
                <resQty type="SHIELD">1</resQty>
                <resQty type="STONE">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="11" points="3" level="1" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">2</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
                <resQty type="SERVANT">1</resQty>
                <resQty type="SHIELD">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="12" points="3" level="1" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">2</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
                <resQty type="SERVANT">1</resQty>
                <resQty type="STONE">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="13" points="4" level="1" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">2</resQty>
            <resQty type="COIN">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="COIN">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="14" points="4" level="1" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">2</resQty>
            <resQty type="STONE">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="STONE">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="15" points="4" level="1" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">2</resQty>
            <resQty type="SERVANT">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="16" points="4" level="1" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">2</resQty>
            <resQty type="SHIELD">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="17" points="5" level="2" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="18" points="5" level="2" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="19" points="5" level="2" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="20" points="5" level="2" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="21" points="6" level="2" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">3</resQty>
            <resQty type="SERVANT">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="STONE">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="22" points="6" level="2" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">3</resQty>
            <resQty type="COIN">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="23" points="6" level="2" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">3</resQty>
            <resQty type="STONE">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="24" points="6" level="2" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">3</resQty>
            <resQty type="SHIELD">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="COIN">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="25" points="7" level="2" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">5</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">2</resQty>
            </input>
            <output>
                <resQty type="STONE">2</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="26" points="7" level="2" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">5</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">2</resQty>
            </input>
            <output>
                <resQty type="COIN">2</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="27" points="7" level="2" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">5</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">2</resQty>
            </input>
            <output>
                <resQty type="SHIELD">2</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="28" points="7" level="2" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">5</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">2</resQty>
            </input>
            <output>
                <resQty type="SERVANT">2</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="29" points="8" level="2" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">3</resQty>
            <resQty type="COIN">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="30" points="8" level="2" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">3</resQty>
            <resQty type="SHIELD">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="31" points="8" level="2" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">3</resQty>
            <resQty type="STONE">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="STONE">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="32" points="8" level="2" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">3</resQty>
            <resQty type="SERVANT">3</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="COIN">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="33" points="9" level="3" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">6</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">2</resQty>
            </input>
            <output>
                <resQty type="STONE">3</resQty>
                <resQty type="FAITH">2</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="34" points="9" level="3" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">6</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">2</resQty>
            </input>
            <output>
                <resQty type="COIN">3</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="35" points="9" level="3" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">6</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">2</resQty>
            </input>
            <output>
                <resQty type="SHIELD">3</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="36" points="9" level="3" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">6</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">2</resQty>
            </input>
            <output>
                <resQty type="SERVANT">3</resQty>
                <resQty type="FAITH">2</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="37" points="0" level="3" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">5</resQty>
            <resQty type="SERVANT">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">2</resQty>
                <resQty type="STONE">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="38" points="0" level="3" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">5</resQty>
            <resQty type="COIN">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="COIN">2</resQty>
                <resQty type="SERVANT">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="39" points="0" level="3" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">5</resQty>
            <resQty type="STONE">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">2</resQty>
                <resQty type="STONE">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="40" points="0" level="3" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">5</resQty>
            <resQty type="SERVANT">2</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="COIN">2</resQty>
                <resQty type="SHIELD">2</resQty>
                <resQty type="FAITH">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="41" points="1" level="3" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">7</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
                <resQty type="FAITH">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="42" points="1" level="3" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">7</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="STONE">1</resQty>
                <resQty type="FAITH">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="43" points="1" level="3" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">7</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="SHIELD">1</resQty>
                <resQty type="FAITH">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="44" points="1" level="3" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">7</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="SERVANT">1</resQty>
                <resQty type="FAITH">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="45" points="2" level="3" color="GREEN">
        <resourceRequirements>
            <resQty type="SHIELD">4</resQty>
            <resQty type="COIN">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="COIN">3</resQty>
                <resQty type="SHIELD">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="46" points="2" level="3" color="PURPLE">
        <resourceRequirements>
            <resQty type="SERVANT">4</resQty>
            <resQty type="SHIELD">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="STONE">3</resQty>
                <resQty type="SERVANT">1</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="47" points="2" level="3" color="BLUE">
        <resourceRequirements>
            <resQty type="COIN">4</resQty>
            <resQty type="STONE">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="COIN">1</resQty>
                <resQty type="SHIELD">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <developmentCard id="48" points="2" level="3" color="YELLOW">
        <resourceRequirements>
            <resQty type="STONE">4</resQty>
            <resQty type="SERVANT">4</resQty>
        </resourceRequirements>
        <productionPower>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="STONE">1</resQty>
                <resQty type="SERVANT">3</resQty>
            </output>
        </productionPower>
    </developmentCard>

    <leaderCard id="101" points="2">
        <cardRequirements>
            <cardReq color="YELLOW">1</cardReq>
            <cardReq color="GREEN">1</cardReq>
        </cardRequirements>
        <cardDiscountAbility>SERVANT</cardDiscountAbility>
    </leaderCard>

    <leaderCard id="102" points="2">
        <cardRequirements>
            <cardReq color="BLUE">1</cardReq>
            <cardReq color="PURPLE">1</cardReq>
        </cardRequirements>
        <cardDiscountAbility>SHIELD</cardDiscountAbility>
    </leaderCard>

    <leaderCard id="103" points="2">
        <cardRequirements>
            <cardReq color="GREEN">1</cardReq>
            <cardReq color="BLUE">1</cardReq>
        </cardRequirements>
        <cardDiscountAbility>STONE</cardDiscountAbility>
    </leaderCard>

    <leaderCard id="104" points="2">
        <cardRequirements>
            <cardReq color="YELLOW">1</cardReq>
            <cardReq color="PURPLE">1</cardReq>
        </cardRequirements>
        <cardDiscountAbility>COIN</cardDiscountAbility>
    </leaderCard>

    <leaderCard id="105" points="3">
        <resourceRequirements>
            <resQty type="COIN">5</resQty>
        </resourceRequirements>
        <extraDepotAbility>STONE</extraDepotAbility>
    </leaderCard>

    <leaderCard id="106" points="3">
        <resourceRequirements>
            <resQty type="STONE">5</resQty>
        </resourceRequirements>
        <extraDepotAbility>SERVANT</extraDepotAbility>
    </leaderCard>

    <leaderCard id="107" points="3">
        <resourceRequirements>
            <resQty type="SERVANT">5</resQty>
        </resourceRequirements>
        <extraDepotAbility>SHIELD</extraDepotAbility>
    </leaderCard>

    <leaderCard id="108" points="3">
        <resourceRequirements>
            <resQty type="SHIELD">5</resQty>
        </resourceRequirements>
        <extraDepotAbility>COIN</extraDepotAbility>
    </leaderCard>

    <leaderCard id="109" points="5">
        <cardRequirements>
            <cardReq color="YELLOW">2</cardReq>
            <cardReq color="BLUE">1</cardReq>
        </cardRequirements>
        <whiteMarbleAbility>SERVANT</whiteMarbleAbility>
    </leaderCard>

    <leaderCard id="110" points="5">
        <cardRequirements>
            <cardReq color="GREEN">2</cardReq>
            <cardReq color="PURPLE">1</cardReq>
        </cardRequirements>
        <whiteMarbleAbility>SHIELD</whiteMarbleAbility>
    </leaderCard>

    <leaderCard id="111" points="5">
        <cardRequirements>
            <cardReq color="BLUE">2</cardReq>
            <cardReq color="YELLOW">1</cardReq>
        </cardRequirements>
        <whiteMarbleAbility>STONE</whiteMarbleAbility>
    </leaderCard>

    <leaderCard id="112" points="5">
        <cardRequirements>
            <cardReq color="PURPLE">2</cardReq>
            <cardReq color="GREEN">1</cardReq>
        </cardRequirements>
        <whiteMarbleAbility>COIN</whiteMarbleAbility>
    </leaderCard>

    <leaderCard id="113" points="4">
        <cardRequirements>
            <cardReq color="YELLOW" level="2">1</cardReq>
        </cardRequirements>
        <extraProductionAbility>
            <agnosticOutput>1</agnosticOutput>
            <input>
                <resQty type="SHIELD">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </extraProductionAbility>
    </leaderCard>

    <leaderCard id="114" points="4">
        <cardRequirements>
            <cardReq color="BLUE" level="2">1</cardReq>
        </cardRequirements>
        <extraProductionAbility>
            <agnosticOutput>1</agnosticOutput>
            <input>
                <resQty type="SERVANT">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </extraProductionAbility>
    </leaderCard>

    <leaderCard id="115" points="4">
        <cardRequirements>
            <cardReq color="PURPLE" level="2">1</cardReq>
        </cardRequirements>
        <extraProductionAbility>
            <agnosticOutput>1</agnosticOutput>
            <input>
                <resQty type="STONE">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </extraProductionAbility>
    </leaderCard>

    <leaderCard id="116" points="4">
        <cardRequirements>
            <cardReq color="GREEN" level="2">1</cardReq>
        </cardRequirements>
        <extraProductionAbility>
            <agnosticOutput>1</agnosticOutput>
            <input>
                <resQty type="COIN">1</resQty>
            </input>
            <output>
                <resQty type="FAITH">1</resQty>
            </output>
        </extraProductionAbility>
    </leaderCard>

    <baseProductionPower>
        <agnosticInput>2</agnosticInput>
        <agnosticOutput>1</agnosticOutput>
    </baseProductionPower>

</config>